<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="png" href="resim/bmw logo title.png">
    <title>///M Sports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    
   <!-- menü başlangıç -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="ana sayfa.html">
      <img src="/resim/bmw-logo-675.png " alt="logo" height="30px" width="80px">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="ana sayfa.html">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="site hakkında.html">Site Hakkında</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="iletisim.html">İletişim</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Motor Tipi
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="benzin.html">Benzin</a></li>
            <li><a class="dropdown-item" href="dizel.html">Dizel</a></li>
          </ul>
        </li>
      </ul>

      <div class="social-icons">
        <a href="https://www.facebook.com/mert.dagci.940" target="_blank">
          <i class="fab fa-facebook btn" style="color: #cfcfcf; font-size: 21px;"></i>
        </a>
        <a href="https://www.instagram.com/merttdgc/" target="_blank">
          <i class="fab fa-instagram btn" style="color: #cfcfcf; font-size: 22px;"></i>
        </a>
      </div>
      
      <div class="login-btn ml-auto">
      <a class="btn custom-btn-style" href="giriş.html"> Giriş Yap</a>
      </div>

    </div>
  </div>
</nav>
<!-- menü bitiş -->

      <!-- slider başlangıç -->
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/resim/wp2627201-bmw-e60-wallpaper.jpg" class="d-block w-100 resimSlider" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/resim/wp2627202-bmw-e60-wallpaper.jpg" class="d-block w-100 resimSlider" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/resim/wp2627219-bmw-e60-wallpaper .jpg" class="d-block w-100 resimSlider" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      
      <!-- slider bitiş -->

      <!-- hakkında başlangıç -->
      <section class="p-5 text-center hakkimizda" style="margin-bottom: -50px;">
        <div class="container">
          <img src="resim/logo.png" alt="logo" height="50px" width="90px">
          <h2 class="mb-5 font-weight-bold">Tarihi Kısa Özet</h2>
          <hr class="ayrac" />
          <p>
            BMW (Bayerische Motoren Werke AG), Almanya merkezli bir otomobil, motosiklet ve motor üreticisidir. Şirket, 7 Mart 1916 tarihinde Münih, Almanya'da kurulmuştur. Başlangıçta uçak motorları ve motorlu taşıtlar için motorlar üretmek amacıyla "Rapp Motorenwerke" adı altında kurulmuştur.

I. Dünya Savaşı'nın ardından, şirketin adı "Bayerische Motoren Werke GmbH" olarak değiştirilmiş ve daha sonra kısaca "BMW" olarak anılmaya başlanmıştır.

BMW, 1928 yılında ilk motosikletini üretmiş ve otomobil üretimine 1929 yılında başlamıştır. BMW, özellikle sportif ve lüks otomobilleri ile tanınmış ve dünya çapında bir prestije sahip olmuştur.

İkinci Dünya Savaşı sonrasında, şirketin üretim tesisleri ağır hasar görmüş olsa da, BMW kısa sürede toparlanmış ve başarıyla büyümeye devam etmiştir.

BMW, otomobil ve motosiklet üretiminin yanı sıra, günümüzde elektrikli araçlar ve otonom sürüş teknolojileri gibi geleceğin otomotiv alanlarına da odaklanmaktadır. Şirket, yüksek performanslı araçları, tasarımı ve teknolojisiyle otomobil severlerin tercih ettiği markalardan biri olarak dünya çapında bilinmektedir.
          </p>
          <hr class="ayrac" />
        </div>
      </section>
      <!-- hakkında bitiş -->

      <!-- galeri başlangıç -->
      <section class="p-5 text-center galeri">
        <div class="container">
          <img src="resim/galeri.png" alt="galeri logo" height="40" width="40">
          <h2 class="mb-5 font-weight-bold">Galeri</h2>
          <hr class="ayrac" />
          <div class="row">


            <div class="col-sm">
              <a href="/resim/Ekran görüntüsü 2023-07-26 100738.png">
                <figure class="figure">
                  <img src="/resim/Ekran görüntüsü 2023-07-26 100738.png" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                </figure>
              </a>
            </div>

            <div class="col-sm">
              <a href="/resim/m3_e92.jpg">
                <figure class="figure">
                  <img src="/resim/m3_e92.jpg" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                </figure>
              </a>
            </div>

            <div class="col-sm">
              <a href="/resim/f10.jpg">
                <figure class="figure">
                  <img src="/resim/f10.jpg" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                </figure>
              </a>
            </div>

            <div class="col-sm">
              <a href="/resim/420d cabrio.jpg">
                <figure class="figure">
                  <img src="/resim/420d cabrio.jpg" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                </figure>
              </a>
            </div>

          </div>
        </div>
      </section>
      <!-- galeri bitiş -->

      <!-- Footer Başlangıç -->
      <div class="bg-dark text-light text-center footer ">
        <p class="align-middle p-2">
          <span>All Rights Reserved. &copy; 2023</span><br>
          <span>Designed By: <b>Mert DAĞCI</b></span>
        </p>
      </div>
      <!-- Footer Bitiş -->
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>



