<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="png" href="resim/bmw logo title.png">
    <title>Dizel Motorlar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>

    <!-- menü başlangıç -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="ana sayfa.html">
      <img src="/resim/bmw-logo-675.png" alt="logo" height="30px" width="80px">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="ana sayfa.html">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="site hakkında.html">Site Hakkında</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="iletisim.html">İletişim</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Motor Tipi
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="benzin.html">Benzin</a></li>
            <li><a class="dropdown-item" href="dizel.html">Dizel</a></li>
          </ul>
        </li>
      </ul>
      <!-- Modified section to align the button to the right -->
      <div class="login-btn ml-auto">
        <a class="btn btn-light" href="giriş.html">Giriş Yap</a>
      </div>
    </div>
  </div>
</nav>
<!-- menü bitiş -->

<!-- tablo başlangıç -->
<div class="background-color">
  <h3 class="text-center">Dizel Modelleri Motor Özellikleri ve Kodları</h3>
  <table class="tabe, th, th">
    <thead>
      <tr>
        <th>Model</th>
        <th>Yıllar</th>
        <th>Motor</th>
        <th>Güç</th>
        <th>Tork</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="2">520d</td>
        <td>2005-2007</td>
        <td>2.0 L M47 sıralı-4 turbo</td>
        <td>120 kW (161 hp) 4,000 rpm'de</td>
        <td>350 N·m (258 lb·ft) 1,750-3,000 rpm'de</td>
      </tr>
      <tr>
        <td>2007-2010</td>
        <td>2.0 L N47 sıralı-4 turbo</td>
        <td>130 kW (174 hp) 4,000 rpm'de</td>
        <td>350 N·m (258 lb·ft) 1,750-2,500 rpm'de</td>
      </tr>
      <tr>
        <td rowspan="2">525d</td>
        <td>2004-2007</td>
        <td>2.5 L M57 sıralı-6 turbo</td>
        <td>130 kW (174 hp) 4,000 rpm'de</td>
        <td>400 N·m (295 lb·ft) 2,000 rpm'de</td>
      </tr>
      <tr>
        <td>2007-2010</td>
        <td>3.0 L M57 sıralı-6 turbo</td>
        <td>145 kW (194 hp) 4,000 rpm'de</td>
        <td>400 N·m (295 lb·ft) 1,300-3,250 rpm'de</td>
      </tr>
      <tr>
        <td rowspan="3">530d</td>
        <td>2003-2005</td>
        <td>3.0 L M57 sıralı-6 turbo</td>
        <td>160 kW (215 hp) 4,000 rpm'de</td>
        <td>500 N·m (369 lb·ft) 2,000 rpm'de</td>
      </tr>
      <tr>
        <td>2005-2007</td>
        <td>3.0 L M57 sıralı-6 turbo</td>
        <td>170 kW (228 hp) 4,000 rpm'de</td>
        <td>500 N·m (369 lb·ft) 1,750 rpm'de</td>
      </tr>
      <tr>
        <td>2007-2010</td>
        <td>3.0 L M57 sıralı-6 turbo</td>
        <td>173 kW (232 hp) 4,000 rpm'de</td>
        <td>500 N·m (369 lb·ft) 1,750-3,000 rpm'de</td>
      </tr>
      <tr>
        <td rowspan="2">535d</td>
        <td>2004-2007</td>
        <td>3.0 L M57 sıralı-6 turbo</td>
        <td>200 kW (268 hp) 4,400 rpm'de</td>
        <td>560 N·m (413 lb·ft) 2,000-2,250 rpm'de</td>
      </tr>
      <tr>
        <td>2007-2010</td>
        <td>3.0 L M57 sıralı-6 turbo</td>
        <td>210 kW (282 hp) 4,400 rpm'de</td>
        <td>580 N·m (428 lb·ft) 1,750-2,250 rpm'de</td>
      </tr>
    </tbody>
  </table>
</div>
  
  <!-- tablo bitiş -->

 

      <!-- Footer Başlangıç -->
      <div class="bg-dark text-light text-center footer fixed-bottom">
        <p class="align-middle p-2">
          <span>All Rights Reserved. &copy; 2023</span><br>
          <span>Designed By: <b>Mert DAĞCI</b></span>
        </p>
      </div>
      <!-- Footer Bitiş -->

      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
