<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="png" href="resim/bmw logo title.png">
    <title>İletişim</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>

    <!-- menü başlangıç -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="ana sayfa.html">
      <img src="/resim/bmw-logo-675.png" alt="logo" height="30px" width="80px">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="ana sayfa.html">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="site hakkında.html">Site Hakkında</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active-toggle" aria-current="page" href="iletisim.html">İletişim</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Motor Tipi
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="benzin.html">Benzin</a></li>
            <li><a class="dropdown-item" href="dizel.html">Dizel</a></li>
          </ul>
        </li>
      </ul>
      <!-- Modified section to align the button to the right -->
      <div class="login-btn ml-auto">
        <a class="btn btn-light" href="giriş.html">Giriş Yap</a>
      </div>
    </div>
  </div>
</nav>
<!-- menü bitiş -->

      <!-- iletişi formu başlangıç -->
      <form action="">
        <div class="my-3 bg-light p-4 p-sm-5 rounded-3">
          <div class="row align-items-center" ng-cloak>
              <div class="col-md-6">
                  <h1 class="display-5">İletişim Formu</h1>
                  <p class="fs-5">
                      Bizimle iletişime geçmek için formu doldurabilirsiniz.
                  </p>
              </div>
              <div class="col-md-6">
                  <form>
                      <div class="form mb-3">
                          <input type="text" class="form-control" placeholder="Ad Soyad"/>
                      </div>
                      <div class="form mb-3">
                          <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form mb-3">
                          <input type="tel" class="form-control" placeholder="Telefon">
                      </div>
                      <div class="form mb-3">
                          <textarea class="form-control" rows="3" placeholder="Görüşmek istediğiniz konu nedir?"></textarea>
                      </div>
                      <div class="form">
                          <button class="btn btn-primary w-100" ><i class="fa-regular fa-envelope"></i> Gönder</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      </form>
      <!-- iletişim formu bitiş -->

      <!-- Footer Başlangıç -->
      <div class="bg-dark text-light text-center footer fixed-bottom">
        <p class="align-middle p-2">
          <span>All Rights Reserved. &copy; 2023</span><br>
          <span>Designed By: <b>Mert DAĞCI</b></span>
        </p>
      </div>
    
      <!-- Footer Bitiş -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
