<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="icon" type="png" href="resim/bmw logo title.png">
    <title>Aramıza Katıl ///M🏁</title>
    <link rel="stylesheet" href="../css/kayıt.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>KAYIT OL</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Ad</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Soyad</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" required>
                        <label for="">Şifre</label>
                    </div>
                    <button>Kayıt Ol</button>
                    <div class="register">
                        <p>Hesabım Zaten Var <a href="giriş.html">| Giriş</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Başlangıç -->
    <div class="bg-dark text-light text-center footer fixed-bottom">
        <p class="align-middle p-2">
            <span>All Rights Reserved. &copy; 2023</span><br>
            <span>Designed By: <b>Mert DAĞCI</b></span>
        </p>
    </div>

    <!-- Footer Bitiş -->
</body>
</html>
