@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-6">
            <h2 class="mt-5 my-text-beyazımsı text-center ">Hakkımızda</h2>
            <div class="divider">
            </div>
            <p class="text-center">
                BMW E60 Blog Sayfası, otomobil tutkunlarının merakla beklediği ve ilgiyle takip ettiği bir platformdur.
                Bu  özel blog sayfası, BMW'nin efsanevi 5 Serisi'nin E60 kasa kodlu modeline adanmıştır.
                Burada, E60 hakkında en güncel haberler, teknik özellikler, incelemeler ve sürüş deneyimleriyle ilgili değerli içerikler bulabilirsiniz.
                Aynı zamanda, bu muhteşem otomobilin tarihçesi, tasarım detayları ve gelişmiş teknolojileri gibi ilgi çekici konuları keşfetmek için bu blog sayfasını ziyaret edebilirsiniz.
                BMW E60 Blog Sayfası, otomobil tutkunlarının bir araya geldiği, bilgi ve deneyimlerini paylaştığı bir topluluk olma özelliği taşıyor.
                Sizi, bu ikonik otomobilin dünyasına adım atmaya ve heyecan dolu yolculuğa davet ediyoruz!
            </p>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="image-container">
                <img src="/resim/Ekran görüntüsü 2023-07-26 100722.png" class="img-fluid resimHakkimda" alt="BMW E46">
            </div>

            <div class="image-container">
                <img src="/resim/BMW-M5-E60-1.webp" class="img-fluid resimHakkimda" alt="BMW E36">
            </div>
        </div>
    </div>
</div>
