@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="background-color">
    <h3 class="text-center">Dizel Modelleri Motor Özellikleri ve Kodları</h3>
    <table class="tabe, th, th">
        <thead>
            <tr>
                <th>Model</th>
                <th>Yıllar</th>
                <th>Motor</th>
                <th>Güç</th>
                <th>Tork</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="2">520d</td>
                <td>2005-2007</td>
                <td>2.0 L M47 sıralı-4 turbo</td>
                <td>120 kW (161 hp) 4,000 rpm'de</td>
                <td>350 N·m (258 lb·ft) 1,750-3,000 rpm'de</td>
            </tr>
            <tr>
                <td>2007-2010</td>
                <td>2.0 L N47 sıralı-4 turbo</td>
                <td>130 kW (174 hp) 4,000 rpm'de</td>
                <td>350 N·m (258 lb·ft) 1,750-2,500 rpm'de</td>
            </tr>
            <tr>
                <td rowspan="2">525d</td>
                <td>2004-2007</td>
                <td>2.5 L M57 sıralı-6 turbo</td>
                <td>130 kW (174 hp) 4,000 rpm'de</td>
                <td>400 N·m (295 lb·ft) 2,000 rpm'de</td>
            </tr>
            <tr>
                <td>2007-2010</td>
                <td>3.0 L M57 sıralı-6 turbo</td>
                <td>145 kW (194 hp) 4,000 rpm'de</td>
                <td>400 N·m (295 lb·ft) 1,300-3,250 rpm'de</td>
            </tr>
            <tr>
                <td rowspan="3">530d</td>
                <td>2003-2005</td>
                <td>3.0 L M57 sıralı-6 turbo</td>
                <td>160 kW (215 hp) 4,000 rpm'de</td>
                <td>500 N·m (369 lb·ft) 2,000 rpm'de</td>
            </tr>
            <tr>
                <td>2005-2007</td>
                <td>3.0 L M57 sıralı-6 turbo</td>
                <td>170 kW (228 hp) 4,000 rpm'de</td>
                <td>500 N·m (369 lb·ft) 1,750 rpm'de</td>
            </tr>
            <tr>
                <td>2007-2010</td>
                <td>3.0 L M57 sıralı-6 turbo</td>
                <td>173 kW (232 hp) 4,000 rpm'de</td>
                <td>500 N·m (369 lb·ft) 1,750-3,000 rpm'de</td>
            </tr>
            <tr>
                <td rowspan="2">535d</td>
                <td>2004-2007</td>
                <td>3.0 L M57 sıralı-6 turbo</td>
                <td>200 kW (268 hp) 4,400 rpm'de</td>
                <td>560 N·m (413 lb·ft) 2,000-2,250 rpm'de</td>
            </tr>
            <tr>
                <td>2007-2010</td>
                <td>3.0 L M57 sıralı-6 turbo</td>
                <td>210 kW (282 hp) 4,400 rpm'de</td>
                <td>580 N·m (428 lb·ft) 1,750-2,250 rpm'de</td>
            </tr>
        </tbody>
    </table>
</div>