@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="background-color">
    <h3 class="text-center">Benzinli Modelleri Motor Özellikleri ve Kodları</h3>
    <table class="tabe, th, th">
        <thead>
            <tr>
                <th>Model</th>
                <th>Yıllar</th>
                <th>Motor</th>
                <th>Güç</th>
                <th>Tork</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>520i</td>
                <td>2003-2005</td>
                <td>2.2 L M54 sıralı-6</td>
                <td>125 kW (168 hp) 6,250 rpm'de</td>
                <td>210 N·m (155 lb·ft) 3,500 rpm'de</td>
            </tr>
            <tr>
                <td>520i</td>
                <td>2007-2010</td>
                <td>2.0 L N46 sıralı-4</td>
                <td>115 kW (154 hp) 6,400 rpm'de</td>
                <td>200 N·m (148 lb·ft) 3,500 rpm'de</td>
            </tr>
            <tr>
                <td>520i</td>
                <td>2007-2010</td>
                <td>2.0 L N43 sıralı-4</td>
                <td>125 kW (168 hp) 6,700 rpm'de</td>
                <td>210 N·m (155 lb·ft) 4,250 rpm'de</td>
            </tr>
            <tr>
                <td>523i</td>
                <td>2005-2007</td>
                <td>2.5 L N52 sıralı-6</td>
                <td>130 kW (174 hp) 5,800 rpm'de</td>
                <td>230 N·m (170 lb·ft) 3,500 rpm'de</td>
            </tr>
            <tr>
                <td>523i</td>
                <td>2007-2010</td>
                <td>2.5 L N53 sıralı-6</td>
                <td>140 kW (188 hp) 6,100 rpm'de</td>
                <td>240 N·m (177 lb·ft) 3,500 rpm'de</td>
            </tr>
            <tr>
                <td>528i</td>
                <td>2007-2010</td>
                <td>3.0 L N52 sıralı-6</td>
                <td>172 kW (231 hp) 6,500 rpm'de</td>
                <td>270 N·m (199 lb·ft) 2,750 rpm'de</td>
            </tr>
            <tr>
                <td>530i</td>
                <td>2003-2005</td>
                <td>3.0 L N54 sıralı-6</td>
                <td>170 kW (228 hp) 5,900 rpm'de</td>
                <td>300 N·m (221 lb·ft) 3,500 rpm'de</td>
            </tr>
            <tr>
                <td>530i</td>
                <td>2005-2007</td>
                <td>3.0 L N52 sıralı-6</td>
                <td>190 kW (255 hp) 6,600 rpm'de</td>
                <td>300 N·m (221 lb·ft) 2,500 rpm'de</td>
            </tr>
            <tr>
                <td>530i</td>
                <td>2007-2010</td>
                <td>3.0 L N53 sıralı-6</td>
                <td>200 kW (268 hp) 6,700 rpm'de</td>
                <td>320 N·m (236 lb·ft) 2,750 rpm'de</td>
            </tr>
            <tr>
                <td>535i</td>
                <td>2007-2010</td>
                <td>3.0 L N54 sıralı-6 turbo</td>
                <td>225 kW (302 hp) 5,800 rpm'de</td>
                <td>400 N·m (295 lb·ft) 1,300-5,000 rpm'de</td>
            </tr>
            <tr>
                <td>540i</td>
                <td>2005-2010</td>
                <td>4.0 L N62 V8</td>
                <td>225 kW (302 hp) 6,300 rpm'de</td>
                <td>390 N·m (288 lb·ft) 3,500 rpm'de</td>
            </tr>
            <tr>
                <td>545i</td>
                <td>2003-2005</td>
                <td>4.4 L N62 V8</td>
                <td>245 kW (329 hp) 6,100 rpm'de</td>
                <td>450 N·m (332 lb·ft) 3,600 rpm'de</td>
            </tr>
            <tr>
                <td>550i</td>
                <td>2005-2010</td>
                <td>4.8 L N62 V8</td>
                <td>270 kW (362 hp) 6,300 rpm'de</td>
                <td>490 N·m (361 lb·ft) 3,400 rpm'de</td>
            </tr>
            <tr>
                <td>M5</td>
                <td>2005-2010</td>
                <td>5.0 L S85 V10</td>
                <td>373 kW (500 hp) 7,750 rpm'de</td>
                <td>520 N·m (384 lb·ft) 6,100 rpm'de</td>
            </tr>
        </tbody>
    </table>
</div>