@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/resim/wp2627201-bmw-e60-wallpaper.jpg" class="d-block w-100 resimSlider" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/resim/wp2627202-bmw-e60-wallpaper.jpg" class="d-block w-100 resimSlider" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/resim/wp2627219-bmw-e60-wallpaper .jpg" class="d-block w-100 resimSlider" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="p-5 text-center hakkimizda" style="margin-bottom: -50px;">
    <div class="container">
        <img src="resim/logo.png" alt="logo" height="50px" width="90px">
        <h2 class="mb-5 font-weight-bold">Tarihi Kısa Özet</h2>
        <hr class="ayrac" />
        <p>
            BMW (Bayerische Motoren Werke AG), Almanya merkezli bir otomobil, motosiklet ve motor üreticisidir. Şirket, 7 Mart 1916 tarihinde Münih, Almanya'da kurulmuştur.
            Başlangıçta uçak motorları ve motorlu taşıtlar için motorlar üretmek amacıyla "Rapp Motorenwerke" adı altında kurulmuştur.

            I. Dünya Savaşı'nın ardından, şirketin adı "Bayerische Motoren Werke GmbH" olarak değiştirilmiş ve daha sonra kısaca "BMW" olarak anılmaya başlanmıştır.

            BMW, 1928 yılında ilk motosikletini üretmiş ve otomobil üretimine 1929 yılında başlamıştır. BMW, özellikle sportif ve lüks otomobilleri ile tanınmış ve dünya çapında bir prestije sahip olmuştur.

            İkinci Dünya Savaşı sonrasında, şirketin üretim tesisleri ağır hasar görmüş olsa da, BMW kısa sürede toparlanmış ve başarıyla büyümeye devam etmiştir.

            BMW, otomobil ve motosiklet üretiminin yanı sıra, günümüzde elektrikli araçlar ve otonom sürüş teknolojileri gibi geleceğin otomotiv alanlarına da odaklanmaktadır.
            Şirket, yüksek performanslı araçları, tasarımı ve teknolojisiyle otomobil severlerin tercih ettiği markalardan biri olarak dünya çapında bilinmektedir.
        </p>
        <hr class="ayrac" />
    </div>
</section>
<section class="p-5 text-center galeri">
    <div class="container">
        <img src="resim/galeri.png" alt="galeri logo" height="40" width="40">
        <h2 class="mb-5 font-weight-bold">Galeri</h2>
        <hr class="ayrac" />
        <div class="row">


            <div class="col-sm">
                <a href="/resim/Ekran görüntüsü 2023-07-26 100738.png">
                    <figure class="figure">
                        <img src="/resim/Ekran görüntüsü 2023-07-26 100738.png" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                    </figure>
                </a>
            </div>

            <div class="col-sm">
                <a href="/resim/m3_e92.jpg">
                    <figure class="figure">
                        <img src="/resim/m3_e92.jpg" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                    </figure>
                </a>
            </div>

            <div class="col-sm">
                <a href="/resim/f10.jpg">
                    <figure class="figure">
                        <img src="/resim/f10.jpg" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                    </figure>
                </a>
            </div>

            <div class="col-sm">
                <a href="/resim/420d cabrio.jpg">
                    <figure class="figure">
                        <img src="/resim/420d cabrio.jpg" class="figure-img img-fluid rounded resimSliderCard" alt="...">
                    </figure>
                </a>
            </div>

        </div>
    </div>
</section>
