@{
    Layout = "~/Views/Shared/_NoLoginLayout.cshtml";
}

<section class="changePasswordSection">
    <div class="form-box">
        <div class="form-value">
            <h2>Şifreyi Değiştirin</h2>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" required>
                <label for="">Email</label>
            </div>


            <button>Kod Gönder</button>
            <div class="register">
                <p>Hesabım Yok <a href="kayitol.html">| Kayıt Ol</a></p>
                <div class="login">
                    <p> Hesabım Var <a href="giriş.html">| Giriş Yap</a></p>
                </div>
            </div>
        </div>
    </div>
</section>